{% extends 'navbar.html' %}
{% block title_block %} {{title}} {% endblock %}
{% block css_block %}
{% endblock %}

{% block body_block %}
{% if search %}
{% for user in result %}
<div class="row">
  <div class="col-sm-2">
    {% if user.user_profile.profile_pic %}
    <img src="/media/{{user.user_profile.profile_pic}}" width="70px" height="70px" class="rounded-circle">
    {% else %}
    <img src="/media/default.png" width="70px" height="70px" class="rounded-circle">
    {% endif %}
  </div>
  <div class="col-sm-10">
    <a href="{% url 'App_Login:user' username=user.username %}">{{user.username}}</a>
    <br>
    {{user.user_profile.full_name}}
  </div>
</div>
{% endfor %}

{% else %}

{% endif %}
{% endblock %}